* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(to right, #ef32d9, #89fffd);
  color: white ;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;

}

.header--title {
  font-size: 1.25rem;

}